<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
<div class="topSpace"></div>

<div class="col-md-3">

  <!--gameroom2 class div is needed to give proper height to buttons container-->
  <div class="gameroom-height-adjust">
  </div>

  <!--buttons for game-->
  <div class="well well-sm">
    <br>
    <button type="button" class=" btn gameroom center-block">Submit Move</button><br>
    <button type="button" class=" btn gameroom center-block">Offer Draw</button><br>
    <button type="button" class=" btn gameroom btn-danger center-block">Resign Game</button><br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <div class="chessboard" id="board5" style="margin: 0 auto; width: 400px;">
    </div>
    <div class="center">
      <div class="btn-group">
        <button class="btn" type="button" id="startPositionBtn5"><span
            class="glyphicon glyphicon-step-backward"></span></button>
        <button class="btn" type="button" id="prevBtn5"><span class="glyphicon glyphicon-backward"></span></button>
        <button class="btn" type="button" id="nextBtn5"><span class="glyphicon glyphicon-forward"></span></button>
        <button class="btn" type="button" id="endPositionBtn5"><span
            class="glyphicon glyphicon-step-forward"></span></button>
      </div>
    </div>
    <br>
  </div>

  <!--text to display time per move, time left, and your move-->
  <h3 class="gameroom" style="color:white">Time Per Move: 1 Day</h3>
  <h3 class="gameroom" style="color:white">Time Left: 12:54</h3>
  <h3 id="gameStatus" style="color:rgb(58, 153, 58)"></h3>
  <h3 id="userHello" style="color:rgb(58, 153, 58)"></h3>
</div>

<div class="col-md-6">
  <!--text for person you are playing-->
  <h3 class="text-center" style="color:white" id="oppName"></h3>

  <!--chessboard and pieces-->
  <div class="chessboard well-sm">
    <div id="board" style="width: 100%"></div>
  </div>

  <!--text for person you are playing-->
  <h3 class="text-center" style="color:white" id="currUser"></h3>
  <br>
</div>

<div class="col-md-3">

  <!--gameroom-chat-height-adjust class div is needed to give proper height to chat container-->
  <div class="gameroom-height-adjust">
  </div>

  <!--Chat-->
  <div class="well well-sm">
    <h4 class="text-center">Chat</h4>
    <div class="well gameChatScroll" id="messagesList">
      <ul class="thin" id="messages"></ul>
    </div>
      <form id="submit-msg" action="">
        <input id="m" autocomplete="off"></input> <button type="submit" class="btn btn-success btn-xs">Send</button>
      </form>
    <br>
  </div>
</div>