
<!--buttons for game-->
<div class="col-md-3">
  <div class="well well-sm">
    <br>
    <div class="center">
      <div class="btn-group">
        <button type="button" class="btn submit-button center-block" id="submitMove" disabled>&#10004;</button>
        <button type="button" class="btn game-buttons center-block" id="undoMove" disabled>&#10008;</button>
      </div><br><br>

      <button type="button" class=" btn offerDraw center-block" id="offerDraw" disabled>Offer Draw</button><br>
      <button type="button" class=" btn btn-danger center-block" id="resignGame" disabled>Resign Game</button><br>

      <div class="btn-group">
        <button type="button" class="btn game-buttons center-block" id="2D">2D</button>
        <button type="button" class="btn game-buttons center-block" id="3D">3D</button>
      </div><br><br>

      <div class="btn-group">
        <button class="btn game-arrow-buttons" type="button" id="startPositionBtn5"><span
            class="fa fa-angle-double-left"></span></button>
        <button class="btn game-arrow-buttons" type="button" id="prevBtn5"><span
            class="fa fa-angle-left"></span></button>
        <button class="btn game-arrow-buttons" type="button" id="nextBtn5"><span
            class="fa fa-angle-right"></span></button>
        <button class="btn game-arrow-buttons" type="button" id="endPositionBtn5"><span
            class="fa fa-angle-double-right"></span></button>
      </div><br>

    </div>
    <br>
  </div>

  <!--text to display time per move, time left, and your move-->
  <h4 id="moveTimer" style="color:white"></h4>
  <h4 id="moveStatus" style="color:rgb(58, 153, 58)"></h4>
  <h4 id="userHello" style="color:rgb(58, 153, 58)"></h4>

</div>

<div class="col-md-6">
  <!--text for person you are playing-->
  <div class="oppName">
    <h3 id="oppName"></h3>
  </div>

  <!--chessboard and pieces-->
  <div class="chessboard well-sm">
    <div id="board"></div>
  </div>

  <!--text for person you are playing-->
  <div class="currUser">
    <h3 id="currUser"></h3>
  </div>
</div>

<!--Chat/ Hisory tabs-->
<div class="col-md-3">
  <div class="well gameWell">
    <div class="panel-chat">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="active" id="game-chat-link">Chat</a>
          </div>
          <div class="col-xs-6">
            <a href="#" id="move-history-link">History</a>
          </div>
        </div>
      </div>
    </div>
    <div id="game-chat">
      <div class="well gameChatScroll" id="messagesList">
        <ul class="thin" id="messages"></ul>
      </div>
      <form id="submit-msg">
        <input id="m" autocomplete="off"></input>
        <button type="submit" class="btn btn-success pull-right btn-xs">Send</button>
      </form>
    </div>
    <div id="move-history" style="display: none;">
      <div class="well gameHistoryScroll" id="move-history-pgn">
      </div>
    </div>
  </div>