<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
<div class="topSpace"></div>

<div class="col-md-3">

  <!--gameroom2 class div is needed to give proper height to buttons container-->
  <div class="gameroom-height-adjust">
  </div>

  <!--buttons for game-->
  <div class="well well-sm">
    <br>
    <h4>Create a new Game</h4>
    <input type="text" name="name" id="nameNew" placeholder="Enter your name" required>
    <button id="new">New Game</button>
    <br><br>
    <h4>Join an existing game</h4>
    <input type="text" name="name" id="nameJoin" placeholder="Enter your name" required>
    <input type="text" name="gameID" id="gameID" placeholder="Enter Game ID" required>
    <button id="join">Join Game</button>
    <br>
    <br>
    <button type="button" class=" btn gameroom center-block">Submit Move</button><br>
    <button type="button" class=" btn gameroom center-block">Offer Draw</button><br>
    <button type="button" class=" btn gameroom btn-danger center-block">Resign Game</button><br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <div class="chessboard" id="board5" style="margin: 0 auto; width: 400px;">
    </div>
    <div class="center">
      <div class="btn-group">
        <button class="btn" type="button" id="startPositionBtn5"><span class="glyphicon glyphicon-step-backward"></span></button>
        <button class="btn" type="button" id="prevBtn5"><span class="glyphicon glyphicon-backward"></span></button>
        <button class="btn" type="button" id="nextBtn5"><span class="glyphicon glyphicon-forward"></span></button>
        <button class="btn" type="button" id="endPositionBtn5"><span class="glyphicon glyphicon-step-forward"></span></button>
      </div>
    </div>
    <br>
    <script type="text/javascript">
      $(function () {
        var cfg = {
          pieceTheme: 'https://koblenski.github.io/javascript/chessboardjs-0.3.0/img/chesspieces/wikipedia/{piece}.png',
          position: 'start'
        };
        var board = ChessBoard('board', cfg);
        var game = new Chess();

        // 1. Load a PGN into the game
        // 2. Get the full move history
        // 3. If Next button clicked, move forward one
        // 4. If Prev button clicked, move backward one
        // 5. If Start button clicked, go to start position
        // 6. If End button clicked, go to end position

        // 1. Load a PGN into the game
        var pgn = '1.e4 e5 2.Nf3 Nf6 3.Nc3 d5 4.exd5 Nxd5 5.Bc4 Nf4 6.O-O e4 7.Re1 Kd7 8.Rxe4 Qg5 9.Nxg5 f6 10.Qg4+ Ne6 11.Qxe6+ Kd8 12.Qe8#  1-0';
        game.load_pgn(pgn);
        $('#pgn5').html(pgn);

        // 2. Get the full move history
        var history = game.history();
        game.reset();
        var i = 0;

        // 3. If Next button clicked, move forward one
        $('#nextBtn5').on('click', function () {
          game.move(history[i]);
          board.position(game.fen());
          i += 1;
          if (i > history.length) {
            i = history.length;
          }
        });

        // 4. If Prev button clicked, move backward one
        $('#prevBtn5').on('click', function () {
          game.undo();
          board.position(game.fen());
          i -= 1;
          if (i < 0) {
            i = 0;
          }
        });

        // 5. If Start button clicked, go to start position
        $('#startPositionBtn5').on('click', function () {
          game.reset();
          board.start();
          i = 0;
        });

        // 6. If End button clicked, go to end position
        $('#endPositionBtn5').on('click', function () {
          game.load_pgn(pgn);
          board.position(game.fen());
          i = history.length;
        });
      });
    </script>
  </div>

  <!--text to display time per move, time left, and your move-->
  <h3 class="gameroom" style="color:white">Time Per Move: 1 Day</h3>
  <h3 class="gameroom" style="color:white">Time Left: 12:54</h3>
  <h3 id="move" style="color:red"></h3>
</div>


<div class="col-md-6">

  <!--text for person you are playing-->
  <h3 class="text-center" style="color:white">Johnson W</h3>
  <br>

  <!--chessboard and pieces-->
  <div class="well chessboard well-sm">
    <div id="board" style="width: 100%"></div>
    <h2 id="userHello"></h2>
    <h3 id="turn"></h3>
  </div>

  <!--text for person you are playing-->
  <h3 class="text-center" style="color:white">Steve R <span class="dot"></span></h3>
</div>

<div class="col-md-3">

  <!--gameroom-chat-height-adjust class div is needed to give proper height to chat container-->
  <div class="gameroom-height-adjust">
  </div>

  <!--Chat-->
  <div class="well well-sm">
    <h4 class="text-center">Chat with Johnson W</h4>
    <div class="well chatScroll">
      <ul class="thin" id="messages"></ul>
    </div>
    <form action="">
      <input id="m" autocomplete="off"></input> <button class="btn btn-success btn-xs">Send</button>
    </form>
    <br>
  </div>
</div>