<div class="banner" >
    <h1 class="bannerHeader">How to Play Chess</h1>
</div>
</br>
<div class="row">

    <div class="col-md-12">
        <div class="well profileWells well-sm">
            <div class="row">
                <h3 class="text-center" style="color:black ">Chess Rules</h3>
                <div class="col-lg-6">

                    <div class="row">
                        <div class="container " style="padding-top:20px">
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/bMove.PNG" class="img-responsive">
                                <p>Bishop move</p>
                            </div>
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/kMove.PNG" class="img-responsive">
                                <p>Kinght move</p>
                            </div>
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/pMove.PNG" class="img-responsive">
                                <p>Pawn move</p>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="container ">
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/qMove.PNG" class="img-responsive">
                                <p>Queen move</p>
                            </div>
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/rMove.PNG" class="img-responsive">
                                <p>Rook move</p>
                            </div>
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/kingMove.PNG" class="img-responsive">
                                <p>King move</p>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="container ">
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/castle.PNG" class="img-responsive">
                                <p>Castling move</p>
                            </div>
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessMoves/defend.PNG" class="img-responsive">
                                <p>Defending the king</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="text-center">Introduction and Rules</h1>
                    <p>
                        The game of chess is a fairly simple game. Each chess piece has a set number of ways it can
                        maneuver across the board. The player with the white chess pieces always makes the first move.
                        The end goal of the game is to put the enemy king into checkmate.
                        This is where the king loses all ability to move without being sacrefised. Shown on the left are
                        all possible way each chess piece can move.
                    </p>
                </div>
            </div>

            <div class="row">

            </div>
        </div>



    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////-->

</div>