<div class="topSpace"></div>
<div class="banner">
    <h1 class="bannerHeader">Profile</h1>
</div>

<div class="radio">
    <p style="color:white">Timed Game</p>
    <label><input type="radio" name="optradio"checked>Select</label>
</div>
<div class="radio">
    <label><input type="radio" name="optradio">No</label>
</div>