<div class="banner">
    <h1 class="lobbyBanner" style="color:white">PROFILE</h1>

    <!-- contents -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-center" style="color:white">Choose your board</h3>
        </div>

        <div class="col-lg-6">
            <h3 class="text-center" style="color:white">Choose your pieces</h3>
        </div>
    </div>
   
</div>
<div>
    <p style="color:white"> some text </p>
    <!-- end of contents -->
</div>