<div class="topSpace"></div>
<div class="banner">
    <h1 class="bannerHeader">Profile</h1>
</div>
<br>

<div class="row">

    <div class="col-md-8">
        <div class="well profileWells well-sm">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center" style="color:black">Choose your board</h3>
                    <div class="row">
                        <div class="container ">
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessboard-wood.PNG" class="img-responsive">

                                <label class="radio-inline control-label">
                                    <input type="radio" id="woodenBoard" name="board" checked="">
                                    wooden board
                                </label>

                            </div>

                            <div class="col-xs-2 px-0">

                                <img src="../images/lt-green-marble.jpg" class="img-responsive">
                                <label class="radio-inline control-label">
                                    <input type="radio" id="jadeBoard" name="board">
                                    jade board
                                </label>
                            </div>

                            <div class="col-xs-2 px-0">
                                <img src="../images/white-marble-sq.jpg" class="img-responsive">
                                <label class="radio-inline control-label">
                                    <input type="radio" id="whiteMarbleBoard" name="board">
                                    white marble board
                                </label>
                            </div>
                            <select id="color">
                                <option selected disabled>Pick a color</option>
                                <option>Red</option>
                                <option>Blue</option>
                                <option>Green</option>
                                <option>Purple</option>
                                <option>Orange</option>
                                <option>Black</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center" style="color:rgb(0, 0, 0)">Choose your pieces</h3>
                    <div class="row">
                        <div class="container ">
                            <div class="col-xs-2 px-0 ">
                                <img src="../images/chessboard-wood.PNG" class="img-responsive">

                                <label class="radio-inline control-label">
                                    <input type="radio" id="woodPiece" name="chessPiece" checked="">
                                    wooden board
                                </label>

                            </div>

                            <div class="col-xs-2 px-0">

                                <img src="../images/chessboard-wood.PNG" class="img-responsive">
                                <label class="radio-inline control-label">
                                    <input type="radio" id="glassPiece" name="chessPiece">
                                    wooden board
                                </label>
                            </div>

                            <div class="col-xs-2 px-0">
                                <img src="../images/chessboard-wood.PNG" class="img-responsive">
                                <label class="radio-inline control-label">
                                    <input type="radio" id="steelPiece" name="chessPiece">
                                    wooden board
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well profileWells well-sm">
            <h3 class="text-center">Friends</h3>
            <div class="panel-group">

                <div class="topnav">
                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="well friendsSearchScroll">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="well friendsScroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Create New Game</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#color").on("change", function () {
        var c = $(this).val();
        $("public/stylesheets/chessboard-0.3.0.css").css("background-color", c);
    });

</script>