<div class="topSpace"></div>
<div class="banner">
    <h1 class="lobbyBanner" style="color:white">PROFILE</h1>
</div>
<!-- contents -->
<div class="row">
    <div class="col-lg-6">
        <h3 class="text-center" style="color:white">Choose your board</h3>
        <div class="row">
            <div class="container ">
                <div class="col-xs-2 px-0 ">
                    <img src="../images/chessboard-wood.PNG" class="img-responsive">
                    <br>
                    <td><button type="button" class="btn btn-xs center-block">regular board</button></td>
                </div>

                <div class="col-xs-2 px-0">
                    <img src="../images/chessboard-wood.PNG" class="img-responsive">
                    <br>
                    <td><button type="button" class="btn btn-xs center-block">wooden board</button></td>
                </div>

                <div class="col-xs-2 px-0">
                    <img src="../images/chessboard-wood.PNG" class="img-responsive">
                    <br>
                    <td><button type="button" class="btn btn-xs center-block">marble board</button></td>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <h3 class="text-center" style="color:white">Choose your pieces</h3>
        <div class="row">
            <div class="container ">
                <div class="col-xs-2 px-0 ">
                    <img src="../images/chessboard-wood.PNG" class="img-responsive">
                    <br>
                    <td><button type="button" class="btn btn-xs center-block">regular board</button></td>
                </div>

                <div class="col-xs-2 px-0">
                    <img src="../images/chessboard-wood.PNG" class="img-responsive">
                    <br>
                    <td><button type="button" class="btn btn-xs center-block">wooden board</button></td>
                </div>

                <div class="col-xs-2 px-0">
                    <img src="../images/chessboard-wood.PNG" class="img-responsive">
                    <br>
                    <td><button type="button" class="btn btn-xs center-block">marble board</button></td>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- end of contents -->