<div class="banner">
    <h1 class="bannerHeader">Profile</h1>
</div>
<br>

<div class="row">
    <div class="col-md-8">
        <div class="well profileWells">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Board Theme</h3>
                </div>
                <div class="col-lg-4">
                    <h3>2D Piece Theme</h3>
                </div>
                 <div class="col-lg-4">
                    <h3>3D Piece Theme</h3>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-xs-2">
                            <!--Size dropdown content-->
                            <div id="" class="boardTheme2D_img default_board_theme">
                                <img src="/images/board_theme/default_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img chess24_board_theme">
                                <img src="/images/board_theme/chess24_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img metro_board_theme">
                                <img src="/images/board_theme/metro_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img leipzig_board_theme">
                                <img src="/images/board_theme/leipzig_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img wikipedia_board_theme">
                                <img src="/images/board_theme/wikipedia_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img dilena_board_theme">
                                <img src="/images/board_theme/dilena_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img uscf_board_theme">
                                <img src="/images/board_theme/uscf_board_theme.png" class="img-responsive">
                            </div>
                            <div id="" class="boardTheme2D_img symbol_board_theme">
                                <img src="/images/board_theme/symbol_board_theme.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-xs-2 px-0 ">
                            <!--Size dropdown menu-->
                            <select class="boardTheme2D_option">
                                <option id="default_board_theme" value="default_board_theme">Default</option>
                                <option id="chess24_board_theme" value="chess24_board_theme">Chess24</option>
                                <option id="metro_board_theme" value="metro_board_theme">Metro</option>
                                <option id="leipzig_board_theme" value="leipzig_board_theme">Leipzig</option>
                                <option id="wikipedia_board_theme" value="wikipedia_board_theme">Wikipedia</option>
                                <option id="dilena_board_theme" value="dilena_board_theme">Dilena</option>
                                <option id="uscf_board_theme" value="uscf_board_theme">USCF</option>
                                <option id="symbol_board_theme" value="symbol_board_theme">Symbol</option>
                            </select>
                        </div>
                        <div class="col-xs-2 px-0 ">
                            <!--Size dropdown content-->
                            <div id="" class="pieceTheme2D_img wikipedia_piece_theme">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bK.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bQ.png"></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bP.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bB.png"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="" class="pieceTheme2D_img modern_piece_theme">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bK.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bQ.png"></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bP.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bB.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 px-0 ">
                            <!--Size dropdown menu-->
                            <select class="pieceTheme2D_option">
                                <option id="wikipedia_piece_theme" value="wikipedia_piece_theme">Wikipedia</option>
                                <option id="modern_piece_theme" value="modern_piece_theme">Modern</option>
                            </select>
                        </div>
                         <div class="col-xs-2 px-0 ">
                            <!--Size dropdown content-->
                            <div id="" class="pieceTheme2D_img wikipedia_piece_theme">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bK.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bQ.png"></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bP.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/wikipedia/bB.png"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="" class="pieceTheme2D_img modern_piece_theme">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bK.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bQ.png"></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bP.png"></div>
                                        <div class="chesspiece"><img src="/images/piece_theme/modern/bB.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 px-0 ">
                            <!--Size dropdown menu-->
                            <select class="pieceTheme2D_option">
                                <option id="wikipedia_piece_theme" value="wikipedia_piece_theme">Wikipedia</option>
                                <option id="modern_piece_theme" value="modern_piece_theme">Modern</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-lg-12">
                    <button type="submit" class="btn submit btn-primary pull-right" id="saveProfile">Save settings</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="col-md-4">
        <div class="well profileWells well-sm">
            <h3 class="text-center">Friends</h3>
            <div class="panel-group">

                <div class="topnav">
                    <div class="search-container">
                        <input type="text" placeholder="Search username" name="search">
                        <button class="btn btn-default" onclick="loadDoc()" type="submit">Search</button>
                    </div>
                </div>
                <br>
                <div id="search-results">
                </div>
                {{#if friends}}
                <div class="well friendsScroll">
                    <table class="table">
                        <tbody>
                            {{#each friends}}
                            <tr>
                                <td class="col-xs-3">{{userName}}</td>
                                <td class="col-xs-3"></td>
                                <td class="col-xs-3"><button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal">Create Game</button></td>
                                <td class="col-xs-3">
                                    <form action="/profile/removeFriend" method="POST"><input type="hidden" name="id" value="{{id}}"/>
                                        <button type="submit" class="btn btn-danger btn-xs pull-right">Remove</button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script>
    var boardTheme2D = '{{boardTheme2D}}',
        pieceTheme2D = '{{pieceTheme2D}}';
</script>