<div class="topSpace"></div>
<div class="banner">
    <h1 class="bannerHeader">Profile</h1>
</div>
<br>

<div class="row">

    <div class="col-md-8">
        <div class="well profileWells well-sm">
            <h3 class="text-center">Choose Board and Pieces</h3>
       
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>

         
          
          </li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
    </div>
     </div>

    <div class="col-md-4">
        <div class="well profileWells well-sm">
            <h3 class="text-center">Friends</h3>
            <div class="panel-group">

                <div class="topnav">
                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="well friendsSearchScroll">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-success btn-xs">Add Friend</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <div class="well friendsScroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Create New Game</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                            <tr>
                                <td>Anthony</td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                            <tr>
                                <td>Johnson <span class="dot"></span> </td>
                                <td><a type="button" href="/game" class="btn btn-primary btn-xs">Create Game</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
  <br>

       
 


