<div class="reg-login-form-header">
    <h2 class="thin">Welcome to TEAM 10 CHESS</h2>
</div>
<div class="reg-login-bg">
     <div class="reg-login-form">
 
    <p style="color:white">Create an account or login</p>
    <a type="button" href="/users/register" class="btn btn-default btn-block">Register</a>
    <br>
     <a type="button" href="/users/login" class="btn btn-default btn-block">Login</a>
</div>
</div>
