<div class="welcome-login-reg-header">
    <h2 class="welcome-login-reg-header">Welcome to TEAM 10 CHESS</h2>
</div>
<div class="reg-login-bg">
     <div class="welcome-padding">
 
    <h5 class="shadow">Create an account or login</h5>
    <a type="button" href="/users/register" class="btn btn-default btn-block">Register</a>
    <br>
     <a type="button" href="/users/login" class="btn btn-default btn-block">Login</a>
</div>
</div>
