
/* gives the offer draw proper width */

body, html {
    height: 100%;
    margin: 0 0;
    padding-top: 30px;
  }

.btn.offerDraw {
    width: 120px;
    background-color: rgb(120, 120, 120);
    color: white;
}
/* gives the buttons a differnt color when you hover the mouse or pad */ 
.btn.offerDraw:hover {
    color: white;
    background-color: rgb(100, 100, 100);
}
/* gives the resign game button the proper width */
.btn.btn-danger{
    width: 120px;
}
/* gives the submit/undo buttons the proper width */
.submit-button {
    background-color: rgb(122, 202, 57);
    color: white;
    width: 60px;
}
/* gives the submit button a differnt color when you hover the mouse or pad */ 
.submit-button:hover {
    color: white;
    background-color: rgb(85, 141, 38);
}
/* gives the send button the proper width */ 
.btn.btn-success {
    width: 50px;
  }
/* color and width for the 2D/3D buttons */
.game-buttons {
    background-color: rgb(120, 120, 120);
    color: white;
    width: 60px;
}
/* color for the hover of 2D/3D buttons */
.game-buttons:hover {
    color: white;
    background-color: rgb(100, 100, 100);
}
/* color and text size for the history buttons */
.game-arrow-buttons {
    background-color: rgb(120, 120, 120);
    color: white;
    font-size:20px;
}
/* color for the hover of the history buttons */
.game-arrow-buttons:hover {
    color: white;
    background-color: rgb(100, 100, 100);
}
.center {
    text-align: center;
}
/* color and spacing for the opponents name */
.oppName {
    color: white;
    text-align: center;
    padding-bottom: 8px;
} 
/* color and padding for the players name */
.currUser {
    color: white;
    text-align: center;
    padding-bottom: 20px;
} 
/* needed for the chat and the button divs to be even with the gameboard */
.col-md-3 {
    padding-top: 73px;
}

.panel-chat>.panel-heading {
    text-align:center;
}

.panel-chat>.panel-heading a{
    font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: gray;
	font-size: 24px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-chat>.panel-heading a.active{
    font-family:Arial, Helvetica, sans-serif;
	color: white;
	font-size: 24px;
}
/* gives the chat well the proper height to be even with the 2D game board */
.gameWell {
    height:520px;
    padding:8px;
}
/* gives the chat the ability to scroll and gives it the boarder color and the proper height */
.gameChatScroll {
    height:393px;
    overflow-y:scroll;
    background-color:rgb(37, 36, 36);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
  }
  /* gives the  the ability to scroll and gives it the boarder color and the proper height */
  .gameHistoryScroll {
    height:435px;
    overflow-y:scroll;
    background-color: rgb(37, 36, 36);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    color: white;
  }