
.lobbyGamesScroll {
    height:174px;
    overflow-y: auto;
}
.leaderBoardScroll {
    height:456px;
    overflow-y:scroll;
}
.lobbyWells {
    height:585px;
}
.center {
  text-align: center;
}
.table-fixed thead {
  width: 97%;
}
.gamesWell {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}
#gamesScroll {
  height: 118px;
  overflow-y: auto;
  width: 100%;
}
.lbTop10Well {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    height: 450px;
}
#lbAllScroll {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}
.well {
  background-color: white;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

#players-online {
  padding-top: 15px;
}