
/* General webpage layout*/

body, html {
  height: 100%;
  margin: 0 0;
  padding-top: 30px;
}

.topSpace{
  padding-top: 50px;
}
/* this gives the lighter font weight for the header text */
h2.welcome-login-reg-header {
  font-weight: lighter;
  text-align: center;
  color:white;
}
/*gives the size, shadow and alignment for the text for the welcome page */
.welcome-login-reg-form-header, h2.welcome-login-reg-header {
  padding-bottom: 20px;
  text-align: center;
  font-weight: lighter;
  color:white;
}
/* gives the size, shadow and alignment for the text for the login/register pages */
h5.welcome-login-reg-shadow {
  font-size: 17px;
  text-align: center;
  text-shadow: 1px 1px black;
  color:white;
}

.reg-login-bg {
  /* The image used */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
/* adjust the height of the alert messages to be center in the background of the register/login page */ 
.reg-login-messages {
  min-height: 20px;
  width: 250px;
  margin: auto;
}
/* shortens the divs for the alerts so they are not too big */
.alert {
  margin-bottom: 0px;
}

.reg-login-form {
  padding-top: 20px;
  max-height: 100px;
  margin: auto;
  width: 250px;
}

.banner, h1.bannerHeader {
  /* The image used */
  background-image: url("/images/PTQlogo2.png");
  /* Full height */
  max-height: 100%;
  max-width: 100%;
  height: 120px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: 0;
  background-repeat: no-repeat;
  background-size:100%;
  /* CSS for banner header text */
  line-height: 60px;
  text-align: center;
  color:white;
}

.container{
  justify-content: center;
  align-items: center;
}
/* color and padding of the footer */
.footer{
  background-color:rgb(40, 40, 40);
  color: white;
  padding: 30px;
}
/* this makes the footer stay at the bottom (aka: sticky footer) */
.footer-pushdown {
  min-height: calc(100% - 89px);
}

.navbar-inverse {
  background-color:rgb(40, 40, 40);
}

* { 
  margin: 0; padding: 0; box-sizing: border-box; 
}

#messageList {
  overflow-y:auto;
}

#messages { 
  list-style-type: none;
  margin: 0;
  padding-top: 0px;
  color: white;
}
/* padding for messages */
#messages li { 
  padding: 5px 10px; 
}
/* gives the chat light color difference between lines */
#messages li:nth-child(odd) { 
  color: white;
  background: rgb(56, 52, 52); 
}

form { 
  width: 100%; 
}
/* used for the login and register inputs to gives them a boarder */
input {
  width: 76%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:whitesmoke;
  resize: none;
}
/* makkes all wells white */ 
.well {
  background-color:rgb(40, 40, 40);
}

.center-block{
    float: none;
}
/* we were going to use this for an online indicator */
.dot {
    height: 10px;
    width: 10px;
    background-color:lawngreen;
    border-radius: 50%;
    display: inline-block;
}
/* centers all buttons */
.centerButton { 
  text-align: center;
  margin-left: 5px;
}
/* text style and zero padding so that the text dosen't have too much spacing*/
h3, h4, h5, p, h1  {
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

