
/* General webpage layout*/

body, html {
  height: 100%;
  margin: 0 0;
  padding-top: 30px;
}
.navbar-brand {
  font-weight: lighter;
}
.topSpace{
  padding-top: 50px;
}
h2.welcome-login-reg-header {
  font-weight: lighter;
  text-align: center;
  color:white;
}
.welcome-login-reg-form-header, h2.welcome-login-reg-header {
  padding-bottom: 20px;
  text-align: center;
  font-weight: lighter;
  color:white;
}
h5.welcome-login-reg-shadow {
  font-size: 17px;
  text-align: center;
  text-shadow: 1px 1px black;
  color:white;
}
.reg-login-bg {
  /* The image used */
  background-image: url("/images/chessbg.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
}
.reg-login-messages {
  padding-top: 80px;
  min-height: 52px;
  width: 250px;
  margin: auto;
}
.alert {
  margin-bottom: 0px;
}
.reg-login-form {
  padding-top: 20px;
  max-height: 100px;
  margin: auto;
  width: 250px;
}
.banner, h1.bannerHeader {
  /* The image used */
  background-image: url("/images/chessbg.jpg");
  /* Full height */
  max-height: 100%;
  max-width: 100%;
  height: 150px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: 0;
  background-repeat: no-repeat;
  background-size:100%;
  /* CSS for banner header text */
  font-weight: lighter;
  font-size: 50px;
  line-height: 150px;
  text-align: center;
  text-shadow: 1px 1px black;
  color:white;
}
.container{
  justify-content: center;
  align-items: center;
}
.footer{
  background-color:rgb(37, 36, 36);
  color: white;
  padding: 30px;
}
.footer-pushdown {
  min-height: calc(100% - 89px);
}
* { 
  margin: 0; padding: 0; box-sizing: border-box; 
}
#messageList {
  overflow-y:auto;
}
#messages { 
  list-style-type: none;
  margin: 0;
  padding-top: 0px;
}
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
  background: #eee; 
}
form { 
  width: 100%; 
}
input {
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:whitesmoke;
  resize: none;
}
.lobbyChatScroll {
  height:421px;
  overflow-y:scroll;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}
.well {
  background-color:white;
}
.center-block{
    float: none;
}
.dot {
    height: 10px;
    width: 10px;
    background-color:lawngreen;
    border-radius: 50%;
    display: inline-block;
}
.centerButton { 
  text-align: center;
  margin-left: 5px;
}
h3, h4, h5, p  {
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}


