html { 
  background: "images/chessbg" no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: #f1f1f1;
  color: #222;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  padding: 100px;
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.roles {
  font-size: 30px;
  height: 50px;
  vertical-align: middle;
  overflow: hidden;
}

.roles div {
  height: 50px;
  transition: margin-top 1s ease-in-out;
}

.img{
  max-width: 100%;
	height: auto;
	width: auto
}
.content {
  text-align: center;
}
.boxMargine{
  column-gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color:rgb(145, 168, 145)
}
.classWithPad { margin:10px; padding:10px; }