body, html {
  height: 100%;
  margin: 0;
}

.login {
  /* The image used */
  background-image: url("/images/chessbg.jpg");

  /* Full height */
  max-height: 100%;
  max-width: 100%;
  height: 500px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: 0;
  background-repeat: no-repeat;
  background-size:100%;
}
.banner {
  /* The image used */
  background-image: url("/images/Chessbg.jpg");

  /* Full height */
  max-height: 100%;
  max-width: 100%;
  height: 150px; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: 0;
  background-repeat: no-repeat;
  background-size:100%;
}

* { 
  margin: 0; padding: 0; box-sizing: border-box; 
}

#users-connected { 
  padding: 5px; 
}

#messages { 
  list-style-type: none;
  margin: 0;
  padding-top: 0px;
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #eee; 
}

form { 
  padding: 3px;
  bottom: 0;
  width: 100%; 
}

.footer{
  background-color:rgb(37, 36, 36);
  color: white;
  padding: 30px;
}
.center-block{
    float: none;
}
.container{
    justify-content: center;
    align-items: center;
}
.dot {
    height: 10px;
    width: 10px;
    background-color:lawngreen;
    border-radius: 50%;
    display: inline-block;
}
h1 {
  font-weight: lighter;
  font-size: 50px;
}
h1.lobbyBanner {
  font-weight: thin;
  font-size: 40px;
  text-align: center;
  line-height: 150px;
  text-shadow: 1px 1px black;
  color:white;

}
h2.thin {
  font-weight: lighter;
  text-align: center;
  color:white;
}
h3.gameroom {
  font-weight: lighter;
  color:white;
}
h1.thin {
  font-weight: lighter;
  text-align: center;
  color:white;
}

td {
  font-weight: lighter;
 
}
.navbar-brand {
  font-weight: lighter;
}

.lobbyWells {
  height:590px;

}

.lobbyChatScroll {
   height:421px;
   overflow-y:scroll;
}

.lobbyGamesScroll {
  height:174px;
  overflow-y:scroll;
}

.gameChatScroll {
   height:417px;
   overflow-y:scroll;
}
.leaderBoardScroll {
  height:456px;
  overflow-y:scroll;
}
p.thin{
  font-weight: lighter;
}
.gameroom2 {
  min-height: 76px;
}