<!DOCTYPE html>
<html lang="en">

<head>
  <title>TEAM 10 CHESS Login</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<!-- Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">TEAM 10 CHESS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/howToPlay">How to Play</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<body style="background-color:rgb(56, 52, 52);">
  <div class="wrapper">
    <div class="container">
      <br><br><br>

      <h2 class="thin">Registration </h2>
      <br>

      <div class="login">
        <div class="row">
          <br><br><br><br><br><br><br>

          <!-- empty container for spacing login in middle-->
          <div class="col-md-4">
          </div>

          <!-- Register form -->
          <div class="col-md-4">
            <form action="/register" method="post">
              <div class="form-group">
                <label for="username">Choose a user name:</label>
                <input type="text" class="form-control" name="username" id="username">
              </div>

              <div class="form-group">
                <label for="pwd">Choose a password:</label>
                <input type="password" class="form-control" name="password" id="pwd">
              </div>

              <div class="form-groupnp">
                <label for="confirmpwd">confirm password:</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmpwd">
              </div>
              <br>

              <button type="submit" class="btn btn-default">Register</button>
            </form>
          </div>

          <!-- empty container for spacing login in middle-->
          <div class="col-md-4">
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="footer container-fluid text-center">
    <p><a href="/lobby" style="color:lightgrey">How to play </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/lobby" style="color:lightgrey">About</a></p>
  </footer>
</body>

</html>